*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --colorPrim1: #06C149;
    --colorPrim2: #0E9E42;
    --colorPrim3: #162723;
    --colorBack1: #181A20;
    --colorBack2: #1F222A;
    --colorBack3: #35383F;
    --colorFont1: #FFF;
    --colorFont2: #9E9E9E;

    /* estilos de Esteban  para page videos*/
    --background-primary:#16181E;
    --background-secondary:#21242D;
  
    --color-primary:#F9F9F9;
    --color-secondary:#4EBAAE;
    --color-therd:#16181E;
  
    --color-btn-primary:#F9F9F9;
    --color-btn-secondary:#4C4F56;
  
    --background-btn-primary:#4EBAAE;
    --background-btn-secondary:#40534de1;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  *::before,*::after,html{
    box-sizing: inherit;
  }
  
  
/*principal*/
.login{
    background-color: var(--colorBack1);

    color: var(--colorFont1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*cabecera*/
.login-header{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
}
.login-logo{
    width: 100px;
    padding: 20px;
}

/*contenido*/

.content-form{
    
    /*flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-form__inputs{
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.content-form__inputs .input{
    background-color: var(--colorBack2);

    color: var(--colorFont1);
    padding: 15px 30px;
    border: none;
    border-radius: 10px;

    transition: all 0.1s;
}

.content-form__inputs .label{

    pointer-events: none;
    color: var(--colorFont2);
    height: 0px;
    position: relative;
    top: 14px;
    left: 30px;
    order: -1;

    transition: all 0.1s;
}
 
.content-form__inputs .input:focus{
    outline: 2px solid var(--colorPrim1);
    background-color: var(--colorPrim3);
    color: var(--colorFont1);
}

.content-form__inputs .input:focus ~ .label,
.content-form__inputs .input:valid ~ .label{
    color: rgba(0, 0, 0, 0);
}

.content-form__inputs .form__checkbox{
    padding: 10px;
}

.content-form .form__btn{
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.content-form .form__btn .button{

    border: none;
    border-radius: 30px;
    padding: 15px;
    background-color: var(--colorPrim2);
    color: #fff;
    transition: all 0.2s;
}
.content-form .form__btn .button:hover{
    background-color: var(--colorPrim1);
}

/*pie*/
.footer{


    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 0px;
}

.footer .cuentas{
    display: flex;
    gap: 10px;
    padding: 20px 0px;
}

.footer .cuentas__btn{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--colorBack3);
    background-color: var(--colorBack2);
    color: var(--colorFont1);
    
}

.footer .iniciarSeccion{
    color: var(--colorPrim1);
    text-decoration: none;
}
