@media screen and (max-width: 1200px) {
  main .submain .navbar h3{
    font-size:16px;
  }
 .navbar .search input{
    width:180px;
  }
}
@media screen and (max-width: 1000px) {
  main .submain .navbar h3{
    font-size:16px;
  }
 .navbar .search input{
    width:120px;
  }
}


@media screen and (max-width: 800px) {
  .container{
    grid-template-columns: 25% 75%;

  }
  .container .more-content{
    display: none;
  }
}