
/* *******estilos generales******* */

.none{
  display: none
}



.button{
  border-radius:8px ;
  display: flex;
  font-weight: 700;
  justify-content: space-evenly;
  align-items: center;
}

.container{
  /* background:var(--background-secondary); */
  display: grid;
  grid-template-columns:20% 55% 25%;
  /* grid-template-rows:100vh auto 100vh; */
  grid-template-areas: 
  "guide-content main more-content";
  height: auto;
  /* width: 100vh; */
  /* max-width: 1100px; */
  margin: auto;

/*   border-radius: 25px; */
 /**/
}
/* ..........contenido guia.......... */
.container .guide-content{

  background: var(--background-secondary);
  color: var(--color-primary);
  grid-area: guide-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15%;
  height: 100vh;
  position: sticky;
  top : 0;
  
  
  /* align-items: center; */
}
 .guide-content  li{
  list-style:none;
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.guide-content li img{
  margin-right: 10px;
  margin-bottom: 2px;
}
.guide-content li a{
  text-decoration: none;
  color: var(--color-primary);
}


/* ..............contenido principal............. */
.container main{
  grid-area: main;
  background: var(--background-primary);
  padding: 3% 8%;
  


  
}
main .submain{
  max-width: 600px;
  margin: auto;
  /* height: auto;  */

  /* grid-template-areas: 
  "navbar navbar navbar navbar"
  " slider slider slider slider "
  " videos videos videos videos "; */
}
main .submain .navbar{
  grid-area: navbar;
  height:10% ;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 20px;
}
.navbar .search{
  display: flex;

}

.navbar .search .icon{
  position: absolute;
  margin-left: 10px;
  margin-top: 7px;

}
.navbar .search input{
  height: 35px;
  width: 250px;
  border-radius: 8px;
  background:#21242D;
  box-shadow: 0px 0px 1px var(--background-secondary);
  color: var(--color-primary);
}
.navbar .search input::placeholder{
  color: white;
  padding: 40px;
}

.navbar .search .filter{
  position: absolute;
  margin-left: 220px;
  margin-top: 7px;  
}

/* ----curousel--- */

main .submain .carousel{
  grid-area: slider;
  height: 50%;
  position: relative;
  margin-bottom: 20px;
}
main .carousel .sliders .controls{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
main .carousel .sliders .controls >*{
  background: rgba(66, 65, 65, 0.774);
  padding: 1px;
  margin: 10px;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  
}
main .carousel .sliders{
 
  width: 100%;
  /* background: blue; */
  border-radius: 10px;
  overflow: hidden;
}
main .carousel .sliders .slider{
  width:100%
  
}
main .carousel .sliders .btn-slider{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  padding:0 12px 12px 12px;
}
main .carousel .sliders .btn-slider button:first-child{
  background: var(--background-btn-secondary);
  padding: 5px 5px;
  height: 40px;
  width: 130px;
  color: var(--color-btn-primary);
  font-size: 16px;
  
}
main .carousel .sliders .btn-slider button:last-child{
  background: var(--background-btn-primary);
  color: var(--color-btn-secondary);
  padding: 5px 25px;
  height: 40px;
  width: 150px;
  font-size: 16px;
  
}
main .carousel .sliders .btn-slider .indicators{
  width: 60px;
  height: 25px;
  background-color: #736967cb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  margin-bottom: 5px;
} 
main .carousel .sliders .btn-slider .indicators .circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:var(--color-btn-primary) ;
  
  
}
main .carousel .sliders .btn-slider .indicators .circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background:var(--color-btn-primary) ;
  
}
main .carousel .sliders .btn-slider .indicators .circle.active{

  background:var(--background-btn-primary) ;
  
}

/* ----contenidos de videos---- */

main .content-videos{
  grid-area: videos;
  height: 40%;

}

main .content-videos h2{
  margin-bottom: 10px;
  color: var(--color-primary);
}
main .content-videos .popular {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3,1fr);
  gap:10px;

  color: var(--color-btn-primary);
}
main .content-videos .popular .video{
  background: var(--background-secondary);
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
main .content-videos .popular .content{
  position: absolute;
  width: 100%;
  bottom:0;
  padding:4px
}
main .content-videos .popular .video .details .gender{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
} 
main .content-videos .popular .video .details .btns{
  display: flex;
  justify-content: space-between;
}
main .content-videos .popular .video .details .btns .button.plus{
  width: 40px;
  height: 40px;
  background: var(--background-btn-secondary);
  
}
main .content-videos .popular .video .details .btns .button.watch{
  height: 40px;
  width: 70%;
  font-size: 16px;
  background: var(--background-btn-primary);

}







/* ......mas contenido........... */
.container .more-content{
  grid-area: more-content;
  background: var(--background-secondary);
  display: grid;
  grid-template-rows:10% 22% 22% 46%;
  height: 100vh;
  width: 100%;
  overflow-x:hidden ;
  padding: 0px 0px 0px 8%;
  position: sticky;
  top : 0;
  color: var(--color-primary);

}

.more-content .profile{
  
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.more-content .profile .info{
  display: flex;
  align-items: center;
  margin: 10px;
}
.more-content .profile figure{
  width: 40px;
  height: 40px;
  background: beige;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--background-btn-secondary); 
}

.more-content .profile .info .more{
  margin:0 0 0 10px ;
  background-color: var(--background-btn-secondary);
}

.more-content .continue{
  grid-row: 2/3;



}
.more-content .top-rated{
  grid-row: 3/4;
  position: relative;
}
.more-content .genres{
  grid-row: 4/5;
  display: grid;
  grid-template-rows: 10% 90%;

}

.more-content .indication{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

/* voy a crear la estructura de los videos
de el contenido continue */
.more-content .videos-watched{

  display: grid;
  grid-auto-flow: column;
  position: absolute;
  
}
.more-content .video{
    display: grid;
    grid-template-columns:30% 67%;
    grid-template-rows:30 67% ;
    gap: 3%;
    height: inherit;
    width: 45%;
    background-color: var(--background-primary);
    margin: 0 20px 0 0;
    padding: 3%;
    border-radius: 10px;
    height: 100px;
    width: 170px;
    align-items: center;
    justify-items: center;

} 

.more-content  .video .watch{
 color: var(--color-therd);
 background-color: var(--background-btn-primary);
 height:30px;
 width: 90px;
}
.more-content  .video .drop{
  height:30px;
  width: 50px;
}

.more-content .genres .container-videos{
  position: relative;
  display: grid;
  grid-template-columns:50% 50% ;
  grid-template-rows: 50% 50%;
  align-items: center;
}
.more-content .genres .videos-watched .video{
    display: grid;
    grid-template-columns:1fr;    grid-template-rows:1fr;
    justify-content: center;
}
.more-content .genres .videos-watched:nth-child(1){
  /* top: 20px; */
  grid-row: 1/2;
  left: 0;
}

.more-content .genres .videos-watched:nth-child(2){
  bottom: 20px;
  grid-row:2/3;
  left:0
};
